.main-title {
  font-family: 'Fjalla One';
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  color: black;
}
.headings {
	font-family: 'Fjalla One';
	text-transform: uppercase;
	font-size: 2.5em;
	text-align: center;
}
.subtitle {
  font-size: 1.5em;
  color:black;
  padding-top: 5%;
  text-align: left;
  padding-left: 10%;
}
.info-heading {
  font-size: 1.5em;
  color: #00897B;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  text-align: left;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 0%;
}
#summary-table td {
  font-size: 0.9em;
  color: #00897B;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: left;
  font-weight: bold;
}
h1 {
  font-family: 'Fjalla One';
  font-size: 1em;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  padding-left: 10%;
  padding-right: 2%;
  padding-bottom:10%;
}
p {
  padding-top: 0%;
  text-align: left;
}
ul {
  padding-left: 10%;
}
li {
  text-align: left;
}
.event-description {
  align-self: center;
  padding: 2%;
}
.description {
  align-self:center;
  margin:0 auto;
}
  .description > div {
    color:gray !important;
  }

#details-container {
  display: flex
}
.panel-container {
  width: 370px;
  margin: 25px;
  background-color: #dddddd;
}
.panel-image {
  width: 250px;
  height:190px;
  background-image: url('/images/open_screen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 10px;
  left: 32px;
  margin: 10px;
}
.info-block {
  width: 70%;
  padding-bottom: 5%;
}
#help-popup {
  width: 50%;
  height: 150px;
  border-radius: 5px;
  position: relative;
  left: 350px;
  text-align: center;
  padding: 0%;
  background-color: #FBBBB9
}
#help-popup p {
  font-size: 1.2em;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: center;
  color: #800517;
  font-weight: bolder;
  text-transform: uppercase;
}
#help-popup ol {
  text-align: center;
  list-style-position: inside;
}
#help-popup li {
  text-align: center;
}
.closebtn {
  color: white;
  float: right;
  cursor: pointer;
  line-height: 20px;
  transition: 0.3s;
  font-weight: bold;
  font-size: 22px;
}
.closebtn:hover {
  color: black;
}
#Charities-table {
  border:1px solid grey;
  width: 80%;
  position: relative;
  left: 70px;
  top: 10px;
}
#Charities-table
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.green-line {
	height:8px;
	width:100%;
	background-color:#00897B;
}
#footer-container {
	height:200px;
	width:100%;
	background-color:#212121;
}
