.main-title {
  font-family: 'Fjalla One';
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  color: black;
}
.headings {
	font-family: 'Fjalla One';
	text-transform: uppercase;
	font-size: 2.5em;
	text-align: center;
}
.subtitle {
  font-size: 1.5em;
  color:black;
  padding-top: 5%;
  text-align: left;
  padding-left: 10%;
}
.info-heading {
  font-size: 1.5em;
  color: #00897B;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  text-align: left;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 0%;
}
#summary-table {
	/*line-height:0.5em;*/
	margin-left:20px;
}
.summary-value {
  font-size: 0.9em;
  color: #00897B;
  text-align: left;
  /*font-weight: bold;*/
}
.summary-field {
	font-family: 'Fjalla One';
	color:black;
	text-transform: uppercase;
	text-align:left;
	margin-bottom:20px;
	line-height:1.2em;
}
h1 {
  font-family: 'Fjalla One';
  text-transform: uppercase;
  text-align: left;
  padding-left: 10%;
  padding-right: 2%;
}

p {
  padding-top: 0%;
  padding-left: 10%;
  text-align: left;
}
ul {
  padding-left: 10%;
}
li {
  text-align: left;
}
.event-description {
  align-self: center;
  padding: 1.5%;
}
.description {
  align-self:center;
  margin:0 auto;
}
  .description > div {
    color:gray !important;
  }

#details-container {
  display: flex;
	justify-content:center;
	align-items:center;
	margin-bottom:50px;
}
.panel-container {
  /*width: 300px;*/
  /*margin: 25px;*/
  /*background-color: #dddddd;*/
	align-self:flex-start;
}
.panel-image {
  width: 280px;
  height: 280px;
  background-image: url('/images/questionMark.png');
	background-size:cover;
  margin: 10px;
}
.info-block {
	/*margin-left:50px;*/
	position:relative;
	right:0;
  width: calc(100vw - 650px);
  /*margin-bottom: 5%;*/
}
.popup-container {
  padding: 0%;
}
#help-popup {
  width: 50%;
  height: 150px;
  border-radius: 5px;
  position: relative;
  top: 0px;
  left: 24%;
  text-align: center;
  padding: 0%;
  background-color: #FBBBB9
}
#help-popup p {
  font-size: 1.3em;
  font-family: Arial;
  position: absolute;
  padding-bottom: 0%;
  top: 0%;
  left: 25%;
  color: #CA002A;
  font-weight: 600;
  text-transform: uppercase;
}
#help-popup ol {
  text-align: center;
  list-style-position: inside;
  padding: 1%;
}
#help-popup li {
  text-align: center;
  font-family: Arial;
  font-size: 1em;
  padding: 0.3%;
}
.closebtn {
  color: black;
  background-color: inherit;
  border-radius: 4px;
  width: 50px;
  height: 30px;
  border: 0px;
  display: inline-block;
  float: inherit;
  position: relative;
  left: 370px;
  top: 2px;
  z-index: 1;
  cursor: pointer;
  line-height: 20px;
  transition: 0.3s;
  font-size: 25px;
}
.closebtn:hover {
  background-color: red;
  color: black;
}
#Charities-table {
  border:1px solid grey;
  width: 80%;
  position: relative;
  left: 70px;
  top: 10px;
}
#Charities-table
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.green-line {
	height:8px;
	width:100%;
	background-color:#00897B;
}
#footer-container {
	height:200px;
	width:100%;
	background-color:#212121;
}
