@import url('https://fonts.googleapis.com/css?family=Lato|Fjalla+One|Cabin');
/*GENERAL STYLING*/
body, p {
	line-height:1.5em;
	/*margin: 3% 10%;*/
	text-align:center;
}
.headings {
	text-transform: uppercase;
	font-size: 2.5em;
	text-align: center;
	padding-top:35px;
}
.text-container {
	display:flex;
	align-items:center;
	justify-content:center;
	margin:35px 15%;
}

.about-text {
	padding-top:20px;
	line-height:2em;
	text-align:center;
}

.font1 {
	font-family: 'Fjalla One';
}

.font2 {
	font-family: 'Lato';
}

.font3 {
	font-family:'Cabin';
}


/*COMPONENT SPECIFIC STYLING*/
.title-bg {
	background-image: url('/images/open_screen.jpg');
	height:100vh;
	width:auto;
	background-size:cover;
	background-repeat:no-repeat;
}
.title-text {
	font-size:6em !important;
	color:white !important;
	padding-top: 20vh !important;
	margin-bottom:80px;
}
.title-img {
	width:200px;
	margin-bottom:20px;
	object-fit:cover;
}
#search-bar-container {
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:35px;
}
	.search-bar {
		align-self:center;
		margin:0 auto;
	}
		.search-bar > div {
			color:gray !important;
		}

#btn-container {
	display:flex;
	margin: 0 auto;
	align-items:center;
	justify-content: center;
}
	.btn {
		background-color: grey;
		margin: 12px;
	}
		.btn :hover {
			background-color: #FDD835 !important;
		}


#slogan-container {
	background-image: url('/images/charity.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	color:white;
	font-size:3em;
}
#slogan {
	font-size:3em;
	line-height:1.5em;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
	background-color:#FBC02D;
	color:white;
	text-transform:uppercase;

}
.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}
.filler-item {
	height:500px;
	width:50vw;
	align-self:center;
	margin: 0 auto;
}
#filler-container {
	display:flex;
	align-items: center;
	justify-content: center;
}
.green-line {
	height:5px;
	width:100%;
	background-color:#00897B;
}
#footer-container {
	height:200px;
	width:100%;
	background-color:#212121;
	color: grey;
}

#team-container {
	display:flex;
	align-items: center;
	justify-content: center;
}
	.team-item {
	align-self:center;
	margin: 40px 30px 30px 30px;
	}
	.team-img {
	height:150px;
	width:150px;
	border-radius: 100%;
	object-fit:cover;

}
