/*****************/
/*GENERAL STYLING*/
/*****************/
#page-container {
	max-width:100vw;
}

html, body {
	margin:0;
	height:100%;
}
/*********************/
/*PAGE HEADER STYLING*/
/*********************/
.page-header {
	/*padding:2% 0;*/
	line-height:3em;
	background-color:black;
}
.event-title {
  text-transform: uppercase;
	letter-spacing:0.2em;
  font-size: 1.6em;
  text-align: center;
  color: white;
}

/*********************/
/*EVENTS BODY STYLING*/
/*********************/
#event-body-container {

}

		/************************/
		/*EVENTS SIDEBAR STYLING*/
		/************************/

		.sidebar {
			position:absolute;
			left:0;
			width:20%;
			align-self:flex-start;
		}

		.sidebar-container {
			min-width:20%;
		}

		.sidebar-paper {
			overflow:auto; overflow-x:hidden;
		}
		.sidebar-label {
			text-transform: uppercase;
			margin:20px 10px 0 10px;
		}

		.sidebar-dropdown {
			margin-top:-10px;
		}
		.search-bar > div > hr {
			border-bottom-color: #00897b !important;
		}


		/**********************/
		/*EVENTS PANEL STYLING*/
		/**********************/
		.events-panel {
			position: fixed;
			right:0;
			width:80%;
			max-width:80%;
			height: calc(100vh - 140px);
			/*border-left: thin solid lightgrey;*/
			overflow:scroll; overflow-x:hidden;
		}

		.fav-events-panel {
			position: fixed;
			width:100%;
			max-width:100%;
			height: calc(100vh - 140px);
			/*border-left: thin solid lightgrey;*/
			overflow:scroll; overflow-x:hidden;
		}

		.single-event {
			height:200px;
			margin-bottom:10px;
			display:flex;
			align-items:center;
    	border-bottom: thin dotted darkgrey;
		}

		.single-event-img {
			height:180px; width:180px;
			margin:10px;
			align-self:flex-start;
			object-fit:cover;
		}

		.single-event-text {
			text-align:left;
			font-size:0.8em;
			max-height:180px;
		}

		.single-event-title {
			position:relative;
			top:0px;
			font-weight: bold;
			text-transform:uppercase;
		}

		.single-event-info {

		}

		.title-info-divider {
			width:200px;
			margin-left: 0;
			margin-top:0;margin-bottom:0;
		}
		.color {
			color:#00897B;
		}

		.tags {
			/*width:90%;*/
			/*background-color:blue;*/
			word-wrap:break-word;
			margin: 10px 30px;
		}
		.tag:hover {
			text-decoration: underline;
			cursor:pointer;
		}
